.content h1 {
    font-size: 48px;
}

.content h2 {
    font-size:  36px;
}

.content h3 {
    font-size: 24px;
}

.content ul {
    list-style-type: disc;
    list-style: outside;
}

.content li {
    margin-left: 4rem;
}

.content ul ul li {
    list-style-type: circle;
}