:root {
    --link-color: #91bbff;
    --link-color-hover: #c4dbff;
}

.content h1 {
    font-size: 48px;
}

.content h2 {
    font-size:  36px;
}

.content h3 {
    font-size: 24px;
}

.content ul {
    list-style-type: disc;
    list-style: outside;
}

.content li {
    margin-left: 4rem;
}

.content ul ul li {
    list-style-type: circle;
}

.content a {
    color: var(--link-color)
}

.content a:hover {
    color: var(--link-color-hover)
}

.content {
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .content {
        width: 80%;
    }
}